<html>
	<div class = "form">	
		<%= form_for @shout do |form| %>
			<p>
				<%= form.text_field :body, :id => "body" %>
				<%= button_to "Shout", :method => :create %> 
			</p>
		<% end %>
		
		<script type="text/javascript">
			body.focus();
		</script>
	</div>
	<div class = "shouts">
		<ul>	
		  <% @shouts.each do |shout| %>	
			 <li>
				
					<%= gravatar(shout.user)%>
				<%= raw(auto_link html_escape((shout.body))) %> 
				<span class ="time">
				<%= time_ago_in_words shout.created_at%> ago
				</span>
				by <%= shout.user.email %>
				
				<%= link_to "Delete", shout_path(shout), :method => :delete %>
				
			</li>
	     <% end %>
		</ul>
	</div>

</html>