<html>
	<div class = "form">	
		<%= form_for @shout do |form| %>
			<p>
				<%= form.text_field :body, :id => "body" %>
				<%= form.submit "Tweet"%>
			</p>
		<% end %>
		
		<script type="text/javascript">
			body.focus();
		</script>
	
		<ul>	
		  <% @shouts.each do |shout| %>	
			 <li>
				<p>
				<%= truncate(raw(auto_link html_escape((shout.body))), :length => 140) %> 
				<span class ="time">
				<%= time_ago_in_words shout.created_at%> ago

				</span>
				<%= link_to "Delete", shout_path(shout), :method => :delete %>
			</li>
	     <% end %>
		</ul>
	</div>
</html>