<html>
	<div class = "form">	
		<%= form_for @shout do |form| %>
			<p>
				<%= form.text_field :body, :id => "body" %>
				<%= form.submit "Shout"%>
			</p>
		<% end %>
		
		<script type="text/javascript">
			body.focus();
		</script>
	
		<ul>	
		  <% @shouts.each do |shout| %>	
			 <li>
				<p>
					<%= gravatar(shout.user)%>
				<%= raw(auto_link html_escape((shout.body))) %> 
				<span class ="time">
				<%= time_ago_in_words shout.created_at%> ago
				</span>
				by <%= shout.user.email %>
				
				<%= link_to "Delete", shout_path(shout), :method => :delete %>
				</p>
			</li>
	     <% end %>
		</ul>
	</div>
</html>